
* {box-sizing: border-box;}

body{
    /* background-color: rgb(15, 15, 15); */
    padding-top: 65px;
    background-color: rgb(0, 0, 0);
}

body h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}

/* adds a bit of padding to each page's title */
.pageTitle{
    top: 0;
    padding-bottom: 1%;
    z-index: 200;
}

/* Styling for the home page banner containers that allow the 'book now' button to go over the top of the video or photos*/
#home-fullscreen-banner {
    position:relative;
    display:inline-block;
    text-align:center;
}

.home-banner-top-centre{
    position: absolute;
    top: 32.5%;
    left: 40%;
    z-index: 100;
};

header{
    background-color: black;
}

/* adjusts page's theme to a dark one */
.darkMain{
    background-color: rgb(3, 3, 3);
    color: white;
}

body h1, footer{
    color: white;
}

footer{
    background-color: rgb(63, 63, 63);
}

/*REDUNDANT MARKED FOR DELETION */
.maskImage{
    position: absolute;
    width: 100%;
    z-index: 9;
}

/* Sets the font colour for the about us section */
#bio{
    color: black;
}

/* disolve effect gradient on carousel images */
.imgDisolve{
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    /* -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */

    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* creates lines to sepearate content in tables (see open times and prices) */
.boxed{
    border-bottom: 1px solid black;
  }

/* fonts & styling*/

.playfair-italic{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.playfair{
    font-family: 'Playfair Display', serif;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}

/* A smaller font size for extra information that isn't the key point, particularly in price table */
.subText{
    font-size: 0.75rem;
}


/* styling of the four buttons in the middle of the home page */

#bigButtons p{
    font-size: 10vw;
    text-align: center;
}

#bigButtons img{
    filter: brightness(50%);
    margin: 0;
}

#bigButtons a{
    color: rgb(216, 216, 216);
}

#bigButtons a:hover{
    color: rgb(255, 255, 255);
}

/* Recording page custom styling */
/* styling of past client company logos */
#past-clients img{
    width: 100px;
}


/* price cards */
.priceCard{
    border-color: white;
    border: solid;
    border-width: 1px;
}

.bigPrice{
    font-size: 4rem;
    font-weight: bold;
}

.bigTitle{
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;
}

#ABDeal{
    padding-top: 5%;
    background-image: url(images/desk2.jpg);
    height: 60vh;
}

#videoDeal{
    padding-top: 5%;
    background-image: url(images/screen.jpg);
    height: 60vh;
}


/* desktop and tablet styling */
@media (min-width: 576px){
    /* header style */
    header {
        position: relative;
        background-color: black;
        width: 100%;
        overflow: hidden;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    .home-banner-top-centre{
        position: absolute;
        top: 50%;
        left: 46.5%;
        z-index: 100;
    };

    #contactHeader{
        height: 60px;
    }

    header img{
        margin: auto;
    }
      
    header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .centered{
        padding-left: 50%;
    }

    /* adjust the font size of home screen buttons to improve responsiveness */
    #bigButtons p{
        font-size: 5vw;
    }

    /* adjust alignment of link list depending on screen size */
    #footerLinks{
        text-align: left;
    }

}