
body{
    /* background-color: rgb(15, 15, 15); */
    padding-top: 65px;
    background-color: rgb(32, 31, 31)
}

body h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}

/* adds a bit of padding to each page's title */
.pageTitle{
    padding-bottom: 1%;
}
main{
    background-color: white;
}

#home{
    background-color: inherit;
}

body h1{
    color: white;
}

footer{
    background-color: rgb(63, 63, 63);
    color: white;
}

/* disolve effect gradient on carousel images */
.imgDisolve{
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* creates lines to sepearate content in tables (see open times and prices) */
.boxed{
    border-bottom: 1px solid black;
  }



/* fonts */

.playfair-italic{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.playfair{
    font-family: 'Playfair Display', serif;
}

.oswald{
    font-family: 'Oswald', sans-serif;
}


/* styling of the four buttons in the middle of the home page */


#bigButtons p{
    font-size: 10vw;
    text-align: center;
}

#bigButtons img{
    filter: brightness(50%);
    margin: 0;
}

#bigButtons a{
    color: rgb(216, 216, 216);
}

#bigButtons a:hover{
    color: rgb(255, 255, 255);
}


/* desktop and tablet styling */
@media (min-width: 576px){
    /* header style */
    header {
        position: relative;
        background-color: black;
        height: 50vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
      }
      
    header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    /* adjust the font size of home screen buttons to improve responsiveness */
    #bigButtons p{
        font-size: 5vw;
    }

    /* adjust alignment of link list depending on screen size */
    #footerLinks{
        text-align: left;
    }

}